@{
	System.DateTime dtmNow = System.DateTime.Now;

	System.Globalization.PersianCalendar
		oPersianCalendar = new System.Globalization.PersianCalendar();

	int intYear = oPersianCalendar.GetYear(dtmNow);
	int intMonth = oPersianCalendar.GetMonth(dtmNow);
	int intDay = oPersianCalendar.GetDayOfMonth(dtmNow);
}

<div style="color: blue; background-color: khaki; margin: 4px; padding: 4px; border: thin outset">
	@intYear / @intMonth / @intDay
</div>
