@{
	System.DateTime now = System.DateTime.Now;

	System.Globalization.PersianCalendar
		persianCalendar = new System.Globalization.PersianCalendar();

	int year = persianCalendar.GetYear(now);
	int month = persianCalendar.GetMonth(now);
	int day = persianCalendar.GetDayOfMonth(now);
}

<div style="color: blue; background-color: khaki; margin: 4px; padding: 4px; border: thin outset">
	I'm in PartialViews Folder: @year / @month / @day
</div>
