@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Index</title>
</head>
<body>
	<a href="~/Home/Learn01">Learn 01</a>
	<br />
	<a href="~/Home/Learn02">Learn 02</a>
	<br />
	<a href="~/Home/Learn03">Learn 03</a>
	<br />
	<a href="~/Home/Learn04">Learn 04</a>
	<br />
	<a href="~/Home/Learn05">Learn 05</a>
	<br />
	<a href="~/Home/Learn06">Learn 06</a>
	<br />
	<a href="~/Home/Learn07">Learn 07</a>
	<br />
	<a href="~/Home/Learn08">Learn 08</a>
	<br />
	<a href="~/Home/Learn09">Learn 09</a>
	<br />
	<a href="~/Home/Learn10">Learn 10</a>
	<br />
	<a href="~/Home/Learn11">Learn 11</a>
	<br />
	<a href="~/Home/Learn12">Learn 12</a>
	<br />
	<a href="~/Home/Learn13">Learn 13</a>
	<br />
	<a href="~/Home/Learn14">Learn 14</a>
	<br />
	<a href="~/Home/Learn15">Learn 15</a>
	<br />
	<a href="~/Home/Learn16">Learn 16</a>
	<br />
	<a href="~/Home/Learn17">Learn 17</a>
	<br />
	<a href="~/Home/Learn18">Learn 18</a>
	<br />
	<a href="~/Home/Learn19">Learn 19</a>
	<br />
	<a href="~/Home/Learn20">Learn 20</a>
	<br />
	<a href="~/Home/Learn21">Learn 21</a>
	<br />
	<a href="~/Home/Learn22">Learn 22</a>
	<br />
	<a href="~/Home/Learn23">Learn 23</a>
	<br />
	<a href="~/Home/Learn24">Learn 24</a>
	<br />
	<a href="~/Home/Learn25">Learn 25</a>
	<br />
	<a href="~/Home/Learn26">Learn 26</a>
	<br />
	<a href="~/Home/Learn27">Learn 27</a>
	<br />
	<a href="~/Home/Learn28">Learn 28</a>
	<br />
	<a href="~/Home/Learn29">Learn 29</a>
	<br />
	<a href="~/Home/Learn30">Learn 30</a>
	<br />
	<a href="~/Home/Learn31">Learn 31</a>
	<br />
	<a href="~/Home/Learn32">Learn 32</a>
	<br />
	<a href="~/Home/Learn33">Learn 33</a>
	<br />
	<a href="~/Home/Learn34">Learn 34</a>
	<br />
	<a href="~/Home/Learn35">Learn 35</a>
	<br />
	<a href="~/Home/Learn36">Learn 36</a>
	<br />
	<a href="~/Home/Learn37">Learn 37</a>
	<br />
	<a href="~/Home/Learn38">Learn 38</a>
	<br />
	<a href="~/Home/Learn39">Learn 39</a>
	<br />
	<a href="~/Home/Learn40">Learn 40</a>
</body>
</html>
