<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Index</title>
</head>
<body>
	<a href="~/Home/Learn1000">Learn 1000</a>
	<br />
	<a href="~/Home/Learn1010">Learn 1010</a>
	<br />
	<a href="~/Home/Learn1020">Learn 1020</a>
	<br />
	<a href="~/Home/Learn1030">Learn 1030</a>
	<br />
	<a href="~/Home/Learn1040">Learn 1040</a>
</body>
</html>
