@{
	Models.Person person =
		Model as Models.Person;

	if (person == null)
	{
		return;
	}
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn 1210</title>
</head>
<body>
	Age: @(person.Age)
	<br />
	Full Name: @(person.FullName)
</body>
</html>
