<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn 1160</title>
</head>
<body>
	Age: @(ViewBag.Person.Age)
	<br />
	Full Name: @(ViewBag.Person.FullName)
</body>
</html>
