<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn 1210</title>
</head>
<body>
	@{
		Models.Person person =
			Model as Models.Person;
	}

	@if (person != null)
	{
		@:Age: @(person.Age)
		<br />
		@:Full Name: @(person.FullName)
	}
</body>
</html>
