@{
	// Solution (1)
	//Models.Person person =
	//	(Models.Person)ViewBag.Person;
	// /Solution (1)

	// Solution (2)
	//Models.Person person = null;

	//if (ViewBag.Person is Models.Person)
	//{
	//	person =
	//		(Models.Person)ViewBag.Person;
	//}
	// /Solution (2)

	// Solution (3)
	Models.Person person =
		ViewBag.Person as Models.Person;
	// /Solution (3)

	if (person == null)
	{
		// Log

		return;
	}
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn 1180</title>
</head>
<body>
	Age: @(person.Age)
	<br />
	Full Name: @(person.FullName)
</body>
</html>
