<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn 1090</title>
</head>
<body>
	@{
		string fileName = "Dariush";
	}

	<img src="~/Content/Images/@(fileName).jpg" alt="@(fileName)" />
</body>
</html>
