<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn 1350</title>
</head>
<body>
	@*
		Tanx Mr. Roham Aien Pajouh
	*@

	@Html.Partial("~/Views/Shared/_Partial_SomePartialView.cshtml")
</body>
</html>
