<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn 1200</title>
</head>
<body>
	Age: @Model.Ageeeee
	<br />
	Full Name: @Model.FullNameeeee
</body>
</html>
