<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn 1370</title>
</head>
<body>
	@Html.Partial(partialViewName: "~/Views/Shared/PartialViews/DisplayCurrentPersianDate.cshtml")
</body>
</html>
