@model Models.Person

@if (Model == null)
{
	return;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn 1230</title>
</head>
<body>
	Factory Name: @(ViewBag.FactoryName)
	<br />
	<br />
	Age: @(Model.Age)
	<br />
	Full Name: @(Model.FullName)
</body>
</html>
