<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn 1110</title>
</head>
<body>
	@{
		string strFirstName = "Dariush";

		if (strFirstName.StartsWith("D"))
		{
			<span>The name starts with "D" character!</span>
		}
		else
		{
			The name does not start with "D" character!
		}
	}
</body>
</html>
