<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn 1080</title>
</head>
<body>
	@{
		string fileName = "Dariush";
	}

	@*
		Error:
		'string' does not contain a definition for 'jpg' and
		no extension method 'jpg' accepting a first argument of type 'string' could be found
	*@

	<img src="~/Content/Images/@fileName.jpg" alt="@fileName" />

	@{
		string fileNameWithExtension =
			string.Format("{0}.jpg", fileName);
	}

	<img src="~/Content/Images/@fileNameWithExtension" alt="@fileName" />
</body>
</html>
