<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn 1170</title>
</head>
<body>
	Age: @(ViewBag.Person.Ageeeee)
	<br />
	Full Name: @(ViewBag.Person.FullNameeeee)
</body>
</html>
