<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn 1300</title>
</head>
<body>
	@{
		Models.Person person = null;
	}

	@Html.Partial(partialViewName: "_Partial_DisplayPerson1", model: person)
</body>
</html>
