<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn 1200</title>
</head>
<body>
	@{
		Models.Person oPerson =
			Model as Models.Person;
	}

	@if (oPerson != null)
	{
		@:Age: @oPerson.Age
		<br />
		@:Full Name: @oPerson.FullName
	}
</body>
</html>
