@model IEnumerable<Models.Person>

@if (Model == null)
{
	return;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn 1280</title>
</head>
<body>
	@foreach (Models.Person person in Model)
	{
		@Html.Partial(partialViewName: "_Partial_DisplayPerson1", model: person)
	}
</body>
</html>
