<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn 1030</title>
</head>
<body>
	<!--
		چسبيده شده باشد Atsign دقت داشته باشيد که بايد بلاک و متغير مربوطه، به
	-->
	@for (int intIndex = 1; intIndex <= 9; intIndex++)
	{
		@intIndex
	}
</body>
</html>
