<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn 1140</title>
</head>
<body>
	<h3>
		@(ViewBag.Message1)
	</h3>
	<h3>
		@(ViewData["Message1"])
	</h3>

	<hr />

	<h3>
		@(ViewBag.Message2)
	</h3>
	<h3>
		@(ViewData["Message2"])
	</h3>
</body>
</html>
