@model IEnumerable<Models.Person>

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn 1290</title>
</head>
<body>
	@foreach (Models.Person person in Model)
	{
		@Html.Partial(partialViewName: "_Partial_DisplayPerson2", model: person)
	}
</body>
</html>
