<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn 1040</title>
</head>
<body>
	@for (int index = 1; index <= 9; index++)
	{<h3>Hello Wrold (@(index))!</h3>}
</body>
</html>
