@model Models.Person

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn 1330</title>
</head>
<body>
	Age: @(Model.Age)
	<br />
	Full Name: @(Model.FullName)
	<br />
	Description: @(Model.Description)
</body>
</html>
