<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn 1070</title>
</head>
<body>
	<!--
		HTML Block Comment - به کلاينت ارسال می شود
	-->
	@*
		Razor Block Comment - به کلاينت ارسال نمی شود
	*@

	@*
		My fullName value is: @fullName
	*@

	@{
		// Razor Block Code

		string firstName = "Dariush";
		string lastName = "Tasdighi";
		string fullName =
			string.Format("{0} {1}", firstName, lastName);

		fullName = fullName.ToLower();

		if (fullName == "Dariush Tasdighi")
		{
			string message = "Something...";
		}

		{
			string someVariable = "Something...";
		}
	}

	My fullName value is: @fullName

	@*
		@message
		@someVariable
	*@
</body>
</html>
