<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn 1050</title>
</head>
<body>
	My email address is DariushT@GMail.com

	<br />
	<br />

	@SomeText

	Error: The name 'SomeText' does not exist in the current context
</body>
</html>
