@model ViewModels.Home.Learn1240ViewModel

@if (Model == null)
{
	return;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn 1240</title>
</head>
<body>
	Factory Name: @(Model.FactoryName)
	<br />
	<br />
	Age: @(Model.Person.Age)
	<br />
	Full Name: @(Model.Person.FullName)
</body>
</html>
