<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn 1100</title>
</head>
<body>
	@{
		// You can easily write some HTML tag(s) in code block!

		string firstName = "Dariush";

		if (firstName.StartsWith("D"))
		{
			<div>
				The name starts with "D" character!
			</div>
		}
		else
		{
			<div>
				The name does not start with "D" character!
			</div>
		}
	}
</body>
</html>
